body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#qr-generator {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

#generated-qrcode {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer a {
  color: #4caf50;
  text-decoration: none;
}
